body {
  font-family: "Cairo", sans-serif;
  background: #f6f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
  color: #0056b3;
}

.buttons {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 12px 24px;
  margin: 10px;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #0056b3;
}
